/* Tout le texte est justifié ... */
body {
  text-align: justify;
}

/* ... sauf les liens à gauche de la page. */
.md-nav__item {
  text-align: left;
}

p {
  margin: 1.5em 0;
}

/* Pour avoir une "jolie" arborescence de fichiers. */
.arborescence {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.1;
  -webkit-text-size-adjust: none;
}
